<div>
    <div class="card bg-light mb-3">
      <div class="card-header">Adicionar Despesa</div>
      <div class="card-body">
        <form #despesaForm="ngForm">
          <div class="form-group">
            <label for="nome">Nome: </label>
            <input type="text" class="form-control" name="nome" [(ngModel)]="despesa.nome" required minlength="2" #nome="ngModel">
          </div>
          <div class="alert alert-danger" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
            <div *ngIf="nome.errors.required">
              Nome é um campo obrigatório
            </div>
            <div *ngIf="nome.errors.required">
              Nome deve conter ao menos 2 caracteres
            </div>
          </div>
  
  
          <div class="form-group">
            <label for="valor">Valor: </label>
            <input mask="separator.2" thousandSeparator="." prefix="R$"  type="text" class="form-control" name="valor" [(ngModel)]="despesa.valor" required minlength="1"  #valor="ngModel">
          </div>
          <div class="alert alert-danger" *ngIf="valor.invalid && (valor.dirty || valor.touched)">
            <div *ngIf="valor.errors.required">
              Valor é um campo obrigatório
            </div>            
          </div>
  
          <div class="form-group">
            <label for="data">Data: </label>
            <input type="date" class="form-control" name="data" [(ngModel)]="despesa.data" required>
          </div>
          

        <div class="form-group">
          <label for="tipo">Tipo de Despesa: </label>
          <select  [compareWith]="compararTipo" type="text" class="form-control" name="tipo" [(ngModel)]="despesa.tipoDespesa" required #data="ngModel">
            <option *ngFor="let tipo of tipoDespesa" [ngValue]="tipo">{{ tipo.tipo }}</option>
          </select>
        </div>        
          
          <button type="submit" class="btn btn-success" role="button" (click)='create()' *ngIf="!despesa.id else elseBlock" [disabled]="!despesaForm.form.valid">Salvar</button>
  
        <ng-template #elseBlock>
          <button type="submit" class="btn btn-success" role="button" (click)='update()' [disabled]="!despesaForm.form.valid">Atualizar</button>
        </ng-template>
        </form>
      </div>
    </div>
  </div>
  